#main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blue;
    padding: 100px;
}

#ForUser{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}

#Computer{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}

#FinalResult{
    background-color: yellowgreen;
    padding: 10px;
    margin: 10px;
}

body{
    background-color: chocolate;
}

#Result{
    color: Red;
    font-weight: bold;
}